@font-face {
  font-family: 'iconfont';  /* Project id 2550291 */
  src: url('//at.alicdn.com/t/font_2550291_vkwlezp1pc.woff2?t=1621071964697') format('woff2'),
       url('//at.alicdn.com/t/font_2550291_vkwlezp1pc.woff?t=1621071964697') format('woff'),
       url('//at.alicdn.com/t/font_2550291_vkwlezp1pc.ttf?t=1621071964697') format('truetype');
}
.iconfont {
  font-family: "iconfont" !important;
  font-size: .16rem;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
